
@model IEnumerable<MyReddit.Models.User>


<h2 class="text-dark">Salut <span class="text-warning"> @ViewBag.Username</span></h2>

  <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Home/AddLink?username=@ViewBag.Username">Publier un lien</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Home/MyLinks?userid=@ViewBag.Userid">Voir mes liens</a>
            </li>
             <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Home/Logout">Se déconnecter</a>
            </li>
        </ul><br><br>

 <form action="/Home/AddLink?userid=@ViewBag.Userid" method="post">  
    <div class="mb-3">
    <label class="alert-danger">@ViewBag.Message</label>
    <label for="link" class="form-label">Lien</label>
    <input type="text" class="form-control" id="idlien" name="link">
    </div>

    <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form> 
 